<html>
<body>

<div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
          <img src="/hero.png" class="img-responsive">
          </div>
      </div>
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h2>
            <P ALIGN=CENTER>
            <font face="vendana">Discover your bucketlist and plan your dreams</font>
            </h2>
            </P>
            <hr>
          </div>

          <% if current_user != nil %>
          <hr>
          <% else %>
          <div class="col-md-offset-1 col-md-10">
          <button type="button" class="btn btn-primary btn-block">Sign up<a href ="users/sign_up"> for free</a>
          </button>
          <hr>
          <button type="button" class="btn btn-primary btn-block">
            <i class="fa fa-google" aria-hidden="true"></i>  Sign up for free with Google
          </button>
          </div>
          <% end %>


      </div>

      <br>

      <div class="margin-above-top-md {
        margin-top: 150px;
      }">
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <h2>
          Get inspired by other dreamers
          </h2>
          <p>
            See other people's bucketlists and create your own as well. You can even plan events with fellow dreamers.  Don't let complex planning overwhelm you. It's easy to share your plan with anyone - even if they don't have a bucketlist account
          </p>
        </div>
        <div class="col-md-offset-2 col-md-4">
          <img src="/planning.jpg" width="95%" height="95%" />
        </div>
      </div>

    <div class="margin-above-top-md {
        margin-top: 150px;
      }">
    </div>
    <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <img src="/cruise.jpg" width="95%" height="95%" />
        </div>
        <div class="col-md-offset-2 col-md-4">
          <h2>
          Curate your bucketlist experiences
          </h2>
          <p>
            Find must see and visit places once in your lifetime. Select your list based on your personal interests and find other friends with similar interest. Explore your curiosity and do what you love.
          </p>
        </div>
      </div>
        <hr>
        <div class="margin-above-top-md {
           margin-top: 150px;
          }">
        </div>

     <div class="margin-above-top-lg {
        margin-top: 150px;
       }">
     </div>
  </div>

</body>
</html>
