<html>
<body>

<div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
          <img src="assets/images/hero.png" class="img-responsive">
          </div>
      </div>
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h1>
            Find your ultimate bucketlist
            </h1>
            <p>
            Discover your bucketlist and plan your dreams
            </p>
          </div>

            </form>
            <button type="button" class="btn btn-primary btn-block">Sign up<a href ="users/sign_up"> for free</a>
            </button>
            <hr>
            <button type="button" class="btn btn-primary btn-block">
              <i class="fa fa-google" aria-hidden="true"></i>  Sign up for free with Google
            </button>
          </div>
      </div>


      <div class="margin-above-top-lg {
        margin-top: 150px;
      }">
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <h2>
          Get inspired by other dreamers
          </h2>
          <p>
            See other people's bucketlists and create your own as well. You can even plan events with fellow dreamers.  Don't let complex planning overwhelm you. It's easy to share your plan with anyone - even if they don't have a bucketlist account
          </p>
        </div>
        <div class="col-md-offset-2 col-md-4">
          <img src="assets/images/planning.jpg" width="95%" height="95%" />
        </div>
      </div>

    <div class="margin-above-top-lg {
        margin-top: 150px;
      }">
    </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <img src="assets/images/cruise.jpg" width="95%" height="95%" />
        </div>
        <div class="col-md-offset-2 col-md-4">
          <h2>
          Curate your bucketlist experiences
          </h2>
          <p>
            Find must see and visit places once in your lifetime. Select your list based on your personal interests and find other friends with similar interest. Explore your curiosity and do what you love.
          </p>
        </div>
      </div>
        <div class="margin-above-top-md {
           margin-top: 150px;
          }">
        </div>

     <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <h2>
            <center>
              Get started now
            </center>
          </h2>
          <form>
            <div class="form-group">
               <label for="exampleInputEmail1"></label>
              <input type="fullname" class="form-control" id="exampleInputFullname1" placeholder="Full name">
            </div>
            <div class="form-group">

              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">

              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
        </div>
     </div>
     <div class="margin-above-top-lg {
        margin-top: 150px;
       }">
     </div>

</body>
</html>
